@charset "UTF-8";

body {
	padding: 15px;
}

.btn {
	cursor: pointer;
}

.delete {
	background-color: red;
}

.container{
	height: 800px;
}
.left{
	border-right: black solid 4px;
	height: 800px;
	overflow: auto;
}
.row{
	height: 100%;
}
.right{
	height: 100%;
  padding: 0px;
}
.ingredients{
	height: 50%;
	border-bottom: solid 3px black;
	padding: 25px;
	text-align: center;
}
.properties{
	height: 50%;
	text-align: center;
}
.ingredients span,.properties span{
	font-weight: 900;
}
.element{
  width: 90%;
  max-width: 300px;
  height: 50px;
  padding: 10px;
  margin: 10px auto;
  background-color: beige;
  border-radius: 10px;
}

.element:hover {
  background-color: #ffcccc;
}

.selected {
  border-width: 2px;
  border-color: #000000;
  border-style: dashed;
}

.left {
  background-color: #ccc;
  border: dashed 4px transparent;
  border-right: black solid 4px;
  border-radius: 4px;
  margin: 10px auto 30px;
  padding: 10px;
  transition: background-color 0.3s;
}

#properties-form{
  text-align: left;
    padding: 10px;
}

.trash{
      background: #ea4c4c;
    height: 100px;
    width: 97%;
    position: absolute;
    bottom: 5px;
    display: none;
}

#auth_spinner{
  width:50px;
  display: initial;
}