<div class="panel panel-primary">
	<div class="panel-heading text-center"><b>Login</b></div>
	<div class="panel-body">
		<div ng-class="{'has-error':error_login}" ng-show="error_login">
			<span type="text" class="help-block" ><b>{{errorMessage}}</b></span>
		</div>
		<form name="form" ng-submit="login()" >
		    <div class="form-group" ng-class="{'has-error':(form.$submitted || form.nbr.$touched) && form.nbr.$error.required}">
		      <label for="nbr">Emplyee Number:</label>
		      <input type="text" name="nbr" id="nbr" class="form-control" ng-model="employee.number" placeholder="Enter your number" required>
		      <span class="help-block" ng-show="(form.$submitted || form.nbr.$touched) && form.nbr.$error.required"><b>Number required</b></span>
		    </div>
		    <div class="form-group" ng-class="{'has-error':(form.$submitted || form.pass.$touched) && form.pass.$error.required}">
		      <label for="pwd">Employee PIN:</label>
		      <input type="password" class="form-control" name="pass" id="pwd" ng-model="employee.password" placeholder="Enter your PIN" required>
		      <span class="help-block" ng-show="(form.$submitted || form.pass.$touched) && form.pass.$error.required"><b>Password required</b></span>
		    </div>
		    <button type="submit" ng-disabled="form.$invalid" class="btn btn-info">
		    	<b>Submit</b><img id="auth_spinner" src="../images/small-spinner.gif" class="img-responsive" ng-show="logged">
		    </button>
		</form>
	</div>
</div>
