<div class="row">
	<div class="col-md-8 left" id="left" ng-sortable="processOptions">
		<span>Recipe</span><br>
		
	</div>
	<div class="col-md-4 right">
		<div class="ingredients">
			<span>Ingredient</span><br>
			<div id="list" ng-sortable="ingredientsOptions">
				<div ng-repeat="i in ingredients" class="element" index="{{$index}}">
					<b>{{i.name}}</b>
				</div>
			</div>
			<div class="trash" ng-sortable="trash">
			
			</div>
		</div>
		<div class="properties">
			<span>Properties</span><br>
			<span>Props for <i id="propname">(nichts)</i></span>
			<div id="properties-form">
			  
			</div>
		</div>
	</div>
</div>