<div class="panel panel-primary">
	<div class="panel-heading text-center"><b>Dashboard</b></div>
	<div class="panel-body">
		<div ng-hide="accounts_ready" >
			<h1>Loading users</h1>
			<center>
				<img src="images/spinner.gif" class="img-responsive">
			</center>
		</div>
		<div ng-show="accounts_ready">
			<button class="btn btn-success btn-sm" data-toggle="modal" data-target="#newUserModal">Add new user</button>
			<table class="table table-striped table-border table-hover text-center" >
				<thead>
					<tr>
						<th class="text-center">Employee No</th>
						<th class="text-center">Name</th>
						<th class="text-center">PIN</th>
						<th class="text-center">Level</th>
						<th class="text-center">Actions</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="a in accounts track by $index" ng-if="!a.deleted">
						<td class="text-center">
							<b>{{a.usernumber}}</b>
						</td>
						<td class="text-center">
							<b>{{a.username}}</b>
						</td>
						<td class="text-center">
							<b>{{a.userpass}}</b>
						</td>
						<td class="text-center">
							<b>{{a.userlevel}}</b>
						</td>
						<td class="text-center">
							<span class="edit btn btn-success" ng-click="edit_user($index)">edit</span>&nbsp;<span href="#" ng-click="delete_user($index)" class="delete btn btn-danger">delete</span>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

<div id="editModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h1 class="modal-title">Edit Account</h1>
      </div>
      <div class="modal-body">
        <form ng-submit="submit_edit_user()">
        	<div class="form-group">
        		<label for="username">Name:</label>
        		<input type="text" class="form-control" ng-model="tmp_acc.username" id="username">
        	</div>
        	<div class="form-group">
        		<label for="pass">PIN:</label>
        		<input type="text" class="form-control" ng-model="tmp_acc.userpass" id="pass">
        	</div>
        	<div class="form-group">
        		<label for="pass">Number:</label>
        		<input type="text" class="form-control" ng-model="tmp_acc.usernumber" id="pass">
        	</div>
        	<div class="form-group">
        		<label for="level">Level:</label>
        		<select class="form-control" id="level" ng-model="tmp_acc.userlevel">
        			<option ng-repeat="l in levels">{{l}}</option>
        		</select>
        	</div>
        	<div class="form-group">
        		<button class="btn btn-success" type="submit">Save</button>
        	</div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
<div id="newUserModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h1 class="modal-title">Add new User</h1>
      </div>
      <div class="modal-body">
        <form ng-submit="addUser()" name="form">
        	<div class="form-group" ng-class="{'has-error':(form.$submitted || form.username.$touched) && form.username.$error.required}">
        		<label for="username">Name:</label>
        		<input  type="text" class="form-control" name="username" ng-model="newUser.username" id="username" required>
        		<span class="help-block" ng-show="(form.$submitted || form.username.$touched) && form.username.$error.required"><b>Username required</b></span>
        	</div>
        	<div class="form-group" ng-class="{'has-error':(form.$submitted || form.password.$touched) && form.password.$error.required}">
        		<label for="pass">PIN:</label>
        		<input type="text" class="form-control" name="password" ng-model="newUser.userpass" id="pass" required>
        		<span class="help-block" ng-show="(form.$submitted || form.password.$touched) && form.password.$error.required"><b>Password required</b></span>
        	</div>
        	<div class="form-group" ng-class="{'has-error':(form.$submitted || form.usernumber.$touched) && form.usernumber.$error.required}">
        		<label for="pass">Number:</label>
        		<input type="text" class="form-control" name="usernumber" ng-model="newUser.usernumber" id="pass" required>
        		<span class="help-block" ng-show="(form.$submitted || form.usernumber.$touched) && form.usernumber.$error.required"><b>Number required</b></span>
        	</div>
        	<div class="form-group" ng-class="{'has-error':(form.$submitted || form.level.$touched) && form.level.$error.required}">
        		<label for="level">Level:</label>
        		<select class="form-control" name="level" id="level" ng-model="newUser.userlevel" required>
        			<option ng-repeat="l in levels">{{l}}</option>
        		</select>
        		<span class="help-block" ng-show="(form.$submitted || form.level.$touched) && form.level.$error.required"><b>User level required</b></span>
        	</div>
        	<div class="form-group">
        		<button class="btn btn-success" type="submit" ng-disabled="!newUser.enabled && form.$invalid">Add user</button>
        	</div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
